@media (max-width: 991px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .sidebar {
        height: auto;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    .sidebar a{
        height: 3vh;
        margin-bottom: 2px;
    }

    .content {
        margin-top: 70px; 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
    .reklam{
        display:none;
    }
}